/* Header */
.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  top: 45px;
}

.navbar {
  background-color: #007bff;
}

.navbar-nav {
  display: flex;
  align-items: center;

  .nav-link.open {
    border-color: #6c757d;
    border-width: 0;
    border-radius: 0;
    color: #6c757d;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    transition: color 150ms ease-in-out;

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 100%;
      background: #6c757d;
      z-index: -1;
      transition: width 150ms ease-in-out;
    }

    &:hover,
    &:focus {
      color: #fff;
      outline: 0;

      &::after {
        width: 110%;
      }
    }
  }
}

.navbar-brand {
  margin-right: auto; // Empurra os itens da direita para o final da barra
}

.nav-item {
  position: relative;

  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}

/* Dropdown Submenus */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    
    &:hover {
      background-color: #6c757d;
    }
  }
}
